<div class="todo-container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Your To Do Tasks</mat-card-title>
      <mat-card-subtitle>All ({{todos.length}}) | Active ({{activeTodo.length}})</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="todo-add" [formGroup]="todoForm">
        <lib-todo-form-field [reset]="reset" class="todo-form-field" formControlName="todo"></lib-todo-form-field>
        <button class="add" mat-raised-button color="primary" (click)="onAddTodo(todoToBeAdded)">
          Add todo
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="todo">
        <div class="todo-header">
          <mat-form-field appearance="outline">
            <mat-label>Filter tods</mat-label>
            <input matInput (keyup)="onTodoFiltered($event)" placeholder="Filter tods">
            <mat-icon matSuffix color="primary">search</mat-icon>
          </mat-form-field>
        </div>
        <div class="todo-items">
          <mat-table #table [dataSource]="tableData" matSort matSortActive="createdOn" matSormat-cellisableClear
            matSortDirection="desc">
            <ng-container matColumnDef="task">
              <mat-header-cell *matHeaderCellDef>Todo Task</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.task}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="createdOn">
              <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Created
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.createdOn | date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="completedOn">
              <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                Completed
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.completedOn | date}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                Actions
              </mat-header-cell>
              <mat-cell *matCellDef="let row;">
                <button mat-icon-button color="primary" (click)="onCompleteTodo(row)" [disabled]="row.isCompleted">
                  <mat-icon aria-label="complete the task">check</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="onDeleteTodo(row)">
                  <mat-icon aria-label="Delete the task">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>