:host {
  .todo-container {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: 480px) {
      width: 100vw;
    }
    width: 70vw;

    .todo-add {
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding: 30px 15px 0 15px;
      background-color: rgb(66, 66, 66);
      border-radius: 5px 5px 0 0;
      .todo-form-field {
        width: 80%;
      }
      .add {
        height: 50px;
        margin-left: 15px;
        margin-top: 4px;
      }
    }

    .todo {
      display: flex;
      flex-direction: column;
      min-height: 30vh;
      .todo-header {
        padding: 15px 15px 0 15px;
        background-color: rgb(66, 66, 66);
        .mat-form-field {
          width: 100%;
          input {
            color: white;
          }
        }
      }
      .todo-items {
        border-radius: 0 0 5px 5px;
        ::ng-deep {
          .mat-column-task {
            flex: 1 1 40%;
            min-width: 20vh;
            max-width: 50vh;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .mat-column-createdOn {
            flex: 1 1 10%;
            min-width: 140px;
            max-width: 150px;
          }
          .mat-column-completedOn {
            flex: 1 1 10%;
            min-width: 140px;
            max-width: 150px;
          }
        }
      }
    }
  }
}
