<mat-form-field class="field" appearance="outline">
  <mat-label>Add todo</mat-label>
  <input matInput placeholder="Ex.: Something you want to remember to do" [formControl]="taskField">
</mat-form-field>
